<form action="/api/search" method="get" id="searchSpotify">
  <select name="searchType">
    <option value="track">song</option>
    <option value="album">album</option>
    <option value="artist">artist</option>
    <option value="playlists">playlist</option>
  </select>
  <input type="text" placeholder="" name="searchText">
  <button type="submit" id= "button">search</button>
<form>
