<header>
  <h1>Not Your Ordinary Song Searching Website</h1>
  <nav>
  <ul>
  <% if (user){ %>
    <li><a href="/user/logout">LOGOUT</a></li>
  <% } else { %>
    <li><a href="/user/login">LOGIN</a></li>
    <li><a href="/user/new">SIGNUP</a></li>
  <% } %>
  </ul>
  </nav>
</header>
