<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="">
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
</head>
<body>
<ol>
  <% albums.forEach(function(record){ %>
   <li>
   <p>Name: <%= record.name %> </p>
   <p> <img src="<%= record.images[2].url %>" alt="No Image Available"> </p>
   </li>
  <%})%>
</ol>
</body>
</html>
