<!DOCTYPE html>
<html>
  <% include partials/head -%>
<body>
  <% include partials/header -%>
  <% include partials/form -%>
<ol>
  <% albums.forEach(function(record){ %>
   <li>
   <p name= "album">Name: <%= record.name %> </p>
   <p> <img name= "piture" src="<%= record.images[2].url %>" alt="No Image Available"> </p>
   </li>
  <%})%>
</ol>
</body>
</html>
