<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="">

  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
</head>
<body>
<ol>
  <% names.forEach(function(artist){ %>
   <li>
   <%= artist.name %>
   <%if (artist.images[0]){ %>
   <img src="<%= artist.images[2].url %>" alt="">
   <%} %>
   </li>
  <%})%>
</ol>
</body>
</html>

