<!DOCTYPE html>
<html>
  <% include partials/head -%>
<body>
<% include partials/header -%>
<% include partials/form -%>
<ol>
  <% names.forEach(function(artist){ %>
   <li>
     <form action="api/search" method="post">
       <p name= "artist">
         <%= artist.name %>
       </p>
       <%if (artist.images[0]){ %>
       <img name= "picture" src="<%= artist.images[2].url %>" alt="">
       <%} %>
       <button type="submit">favorites</button>
     </form>
   </li>
  <%})%>
</ol>
</body>
</html>

