<!DOCTYPE html>
<html>
  <% include partials/head -%>
<body class="users">
  <% include partials/header -%>
  <h1>
  <% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
  <% } else { %>
    Welcome, Guest
  <% } %>
  </h1>
  <% include partials/form -%>
</body>
</html>


