
*{
  color: white;
}
#users{
  width: 100px;
}
button{
  color: black;
}
input{
  color: black;
}
body{
  height: 100%;
  background: linear-gradient( green, black);
}
#login{
  color: white;
  height: 100px;
  width: 50px;
}
.full{
  height: 100vh;
}
