<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<form action= "/user/login" method= "post" id="login">
  <label for="">Email:</label>
    <input type="text" name="email">
    <br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="Submit" value="Login">
  </form>
</body>
</html>
